.logo,
.page-title{display:none;}

.active-page-wrap .form-notice{font-size: 14px;margin: 50px 30px 150px 30px;text-align: center;}
.active-page-wrap .form-normal{position:absolute;bottom:0;left:0;right:0;}
.active-page-wrap .form-btns{margin: 10px;}

.btnbox-s2{overflow:hidden;margin:20px -10px 25px;text-align:center;border-radius:3px;display: -webkit-box;}
.btn-s2{color:#6c6c6c;margin:0 10px;padding:5px 0;border-radius:50px;max-width:50%;min-width:50%;width:50%;background-color:#dadada;}
.btn-s2:visited,
.btn-s2:hover,
.btn-s2:active{color:#333;}
.btn-s3{border-radius:5px;}

.tags-s1{margin:-6px -1px 0;text-align:center;background:#fff;color:#707070;border-radius:5px 5px 0 0;overflow:hidden;border:solid 1px #d5d5d5;}
.tags-s1 li{padding:8px 0;}
.tags-s1 .current{background:-webkit-linear-gradient(left,#6bbf8c,#1fb9d6);color:#fff;}

.mail-list{line-height:8.5vw;text-align:right;color:#707070;max-width:50%;position:relative;z-index:3;}
.mail-list .mail-current{margin:0 5px 0 0;padding: 0 18px 0 0;position:relative;color:#a9abac;}
.mail-list .mail-current:after{content:"";display:block;position:absolute;border:solid 8px transparent;border-color:#ccc transparent  transparent;border-width:8px 7px;right:0;top:50%;margin-top:-4px;width:0;height:0;}
.mail-list .mail-more{position:absolute;background:#fff;box-shadow:0 0 0 5px rgba(0,0,0,.5);border-radius:10px;line-height:170%;right:-10px;top:0;max-width:166.6666667%;font-size:14px;display:none;max-height:300%;overflow:auto;z-index:3;min-width:40vw;}
.mail-list .m-mail{padding:5px 10px;text-align:right;}

.login-page-wrap .form-normal{border:solid 1px #d5d5d5;border-radius:7px;}
.login-page-wrap .form-item{margin:0 10px;padding:10px 0;}
.login-page-wrap .form-item:last-child{border:0 none;}
.login-page-wrap .form-normal .check-modify .txt{color:#a9abac;}
.login-page-wrap .check-modify .txt::after{left:6px;border-radius:0;}
.login-page-wrap .check-modify .txt{padding-left:35px;font-size:3.75vw;}
.login-page-wrap .check-modify input:checked + .txt{color:#666;}

.login-notice{padding:5px 15px;font-size:14px;background:rgba(0,0,0,.9);color:#fff;display:none}
.headimg .login-notice,
.headimg + .login-notice{transform:translate(0,-100%);position:absolute;right:0;left:0;background:rgba(0,0,0,.45);}